body
{
    margin: 0 !important;
    color: #fff;
    background-color: #2b2b2b;
    font-size: 20px;
    min-height: 2000px;
}
#navwrapper
{
    display: flex;
    position: sticky;
    top: 100px;
    transform: translateY(-100px);
    align-items: center;
}
#es
{
    flex-basis: 5%;
    font-size: 50px;
    margin: 0 10px;
    display: none;
}
nav
{
    flex-basis: 95%;
    display: flex;
    justify-content: center;
}
.menuboxdiv
{
    flex-basis: 11%;
    text-align: center;
    padding: 25px 0;
    transition: all 1s ease;
}
.onbanner
{
    flex: 1;
}
header
{
    width: 100%;
}
header img
{
    width: 100%;
    opacity: 40%;
}
header p
{
    width: 50%;
    position: absolute;
    top: 0;
    left: 25%;
    text-align: center;
    z-index: 1;
    font-size: 4vw;
}
.logo
{
    position: absolute;
    opacity: 1;
    width: 25%;
    margin-left: auto;
    margin-right: auto;
    top: 8vw;
    left: 37.5%;
    z-index: 1;
}
.menuboxdiv:hover
{
    background-color: #1d395e7a;
}
#productlist
{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.productdiv
{
    flex-basis: 20%;
    background-color: #fff;
    color: #000;
    margin: 1vw;
}
.productdiv img
{
    width: 100%;
}
footer
{
    width: 100%;
    position: fixed;
    bottom: 0;
    font-size: 1vw;
    padding: 1vw 0;
    background-color: #202020;
    text-align: center;
}
